body {background-color: teal;}

h1 {color: silver; text-align: center;} 

h2 {color: white; word-spacing: 1px; text-indent: 50px;  font-size: 20px;text-align:center;} 

z {color: white; text-align: center;} 