body {background-color: #aa99ee;}

h1 {color: #660099; text-align: center;} 

h2 {color: #330033; word-spacing: 1px; text-indent: 50px;  font-size: 20px;text-align:center;} 

z {color: white; text-align: center;} 